{% extends 'home/basic.html' %}

{% block aboutactive %} active {% endblock aboutactive %}

{% block css %}
{% comment %} .container{
  background-color: blueviolet;
    border-radius: 5px;
    border-width: 8px;
    border-style: solid;
    color: white;
    box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.83);
-webkit-box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.83);
-moz-box-shadow: -1px 0px 12px 0px rgba(0,0,0,0.83);
}
.form-control{
    border-top: none;
    border-left: none;
    background-color: blueviolet;
    color: white;
    border-right: none;
} {% endcomment %}
{% endblock css %}

{% block title %} Image {% endblock title %}
{% block body %}

{% load static %}
<div class="container d-flex my-4">
<form action="#" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit">
</form>
</div>

<!-- form container stars here -->
<!-- uncomment
  <div class="container col-5 my-5 form-container" style="border-radius:6px;border-width:2px;">
  <div class="mt-3"><h3 class="row justify-content-center text-uppercase my-3 " style="font-weight:800;color:black;">Post Blog</h3></div>
<form class="row g-3 px-5 pt-2 pb-5">
  <div class="col-md-6">
    <label for="title"  class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
  <div class="col-md-6">
    <label for="author" class="form-label">Author</label>
    <input type="text" class="form-control" id="author" name="author">
  </div>
  <div class="col-6 my-2">
    <label for="content" class="form-label">Content</label>
    <input type="text" class="form-control" id="content">
  </div>
  <div class="col-6 my-2" >
    <label for="category" class="form-label">Category</label>
    <input type="text" class="form-control" id="category" name="category">
  </div>
  <div class="col-md-6 my-2">
    <label for="user_name" class="form-label">Username</label>
    <input type="text" class="form-control" id="user_name" name="user_name">
  </div>
  <div class="col-md-6 form-group py-3">
    <label for="image">Image</label>
    <input type="file" class="form-control-file" id="image" accept="image/*">
  </div>
  <div class="col-12 d-flex justify-content-center mt-2 mb-1">
    <button type="submit" class="btn btn-dark">Post Blog</button>
  </div>
</form>
</div> 
uncomment -->
<!-- form container ends here -->

{% block js %}
<!-- <script>
function checkSelect(){
  var choice = document.getElementById("state").value;
  if(choice =="A"){
    document.getElementById("choose").style.removeProperty('display');
    document.getElementById("enter").required=true;
  }
}
function Submit(){
  console.log("done")
}
</script> -->

{% endblock %}
{% endblock body %}